@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
  </div>
  <input id="txtSearch" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
</div>
<div id="results" class="collapse">
   <div id="searchResults" class="card card-body">
       <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
  </div>
  </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            
            $("#txtSearch").keyup(function(obj){
                if(obj.currentTarget.value.length>2){
                    //$("#searchResults").html("<h3>"+obj.currentTarget.value+"</h3>");
                    $("#results").collapse('show');
                }
                else{
                    //$("#searchResults").html("");
                    $("#results").collapse('hide');
                }

                    //alert(obj.currentTarget.value);
            });

        });
    </script>
}