@using System.Dynamic
@model dynamic

@{


    ViewData["Title"] = "Home Page";
}
<h2>@Model.MyTextObject</h2>
<div class="container">


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="card bg-light mb-3">
                <h5 class="card-header">Home</h5>
                
                        <div class="form-row">
                            <div class="col-8">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                        <h6>I</h6>
                                        </div>
                                        
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="inputEmail4">I</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">N</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputPassword4">T</label>
                                            <input type="password" class="form-control" id="inputPassword4">
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">S</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">F</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="inputEmail4">OP</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputEmail4">OS</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputPassword4">K</label>
                                            <input type="password" class="form-control" id="inputPassword4">
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="inputEmail4">E</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputEmail4">D</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="inputPassword4">D</label>
                                            <input type="password" class="form-control" id="inputPassword4">
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">E</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">I</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword4">B</label>
                                            <input type="password" class="form-control" id="inputPassword4">
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">WWW</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">AA</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">AA</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="container row">
                                    
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="Rcon-tab" data-toggle="tab" href="#R" role="tab" aria-controls="R" aria-selected="true">RCon</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="Dcon-tab" data-toggle="tab" href="#D" role="tab" aria-controls="C" aria-selected="false">Dcon</a>
                                        </li>
                                     
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="R" role="tabpanel" aria-labelledby="Rcon-tab">

                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="inputPassword4">V</label>
                                                    <input type="password" class="form-control" id="inputPassword4">
                                                </div>
                                                <div class="col-6">
                                                    <label for="inputPassword4">E</label>
                                                    <input type="password" class="form-control" id="inputPassword4">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="inputPassword4">T</label>
                                                    <input type="password" class="form-control" id="inputPassword4">
                                                </div>
                                                <div class="col-6">
                                                    <label for="inputPassword4">H</label>
                                                    <input type="password" class="form-control" id="inputPassword4">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="inputPassword4">T</label>
                                                    <input type="password" class="form-control" id="inputPassword4">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="inputPassword4">T</label>
                                                    <input type="password" class="form-control" id="inputPassword4">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="D" role="tabpanel" aria-labelledby="Dcon-tab">

                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="inputPassword4">V</label>
                                                    <input type="password" class="form-control" id="inputPassword4">
                                                </div>
                                                <div class="col-6">
                                                    <label for="inputPassword4">E</label>
                                                    <input type="password" class="form-control" id="inputPassword4">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="inputPassword4">T</label>
                                                    <input type="password" class="form-control" id="inputPassword4">
                                                </div>
                                                <div class="col-6">
                                                    <label for="inputPassword4">H</label>
                                                    <input type="password" class="form-control" id="inputPassword4">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="inputPassword4">T</label>
                                                    <input type="password" class="form-control" id="inputPassword4">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="inputPassword4">T</label>
                                                    <input type="password" class="form-control" id="inputPassword4">
                                                </div>

                                            </div>
                                        </div>
                                       
                                    </div>

                                
                                </div>

                                <div class="container row">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="inputEmail4">Av</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="col-12">
                                            <label for="inputEmail4">R</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                        <div class="col-12">
                                            <label for="inputEmail4">Df</label>
                                            <input type="email" class="form-control" id="inputEmail4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="input-group input-group-md">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-md">Search</span>
                </div>
                <input id="txtSearch" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            </div>
            <div id="results" class="collapse">
                <div id="searchResults" class="card card-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <br />
            <br />


            <div>
                <h5 style="border:thick ;border-bottom-color:aquamarine;border-bottom-width:thick">Card title</h5>
                <h6>Card subtitle</h6>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>

            <br />
            <div class="card">
                <h5 class="card-header bg-primary text-white">Featured</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Secondary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Danger card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Warning card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Info card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <br /><br /><br />
    <div class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
    <div class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
    </div>
    <div class="alert alert-info" role="alert">
        A simple info alert—check it out!
    </div>



@section Scripts{
    <script>
        $(document).ready(function () {

            $("#txtSearch").keyup(function (obj) {
                if (obj.currentTarget.value.length > 2) {
                    //$("#searchResults").html("<h3>"+obj.currentTarget.value+"</h3>");
                    $("#results").collapse('show');
                }
                else {
                    //$("#searchResults").html("");
                    $("#results").collapse('hide');
                }

                //alert(obj.currentTarget.value);
            });

        });
    </script>
}